
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to (@book.user) do %>
						<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, @book %></td>
					<td><%= @book.body %></td>
					<td id="favorite_buttons_<%=@book.id%>"><%= render 'partial/favorite', book: @book %></td>
					<td>コメント数: <%= @book.book_comments.count %></td>
					<% if current_user==@book.user %>
						<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
						<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</table>

			<div id="book_comments">
				<%= render 'book_comments/book_comments_index' book: @book %>
			</div>

			<%= form_with model: [@book,@book_comment] do |f| %>

				<div class="field">
					<%= @book.title %>
				</div>

				<div class="field">
					<%= f.text_area :comment, class: "col-xs-12 book_comment_body" %>
				</div>

				<div class="actions row">
					<%= f.submit "送信", class: "btn btn-outline-secondary col-xs-1 col-xs-offset-11" %>
				</div>
			<% end %>
	</div>
</div>

